body, html {
  text-align: center;
  height: 100%;
  margin: 0;
  position: relative;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./../images/background-img.png");
  
}


.game-intro: {
  /* float: left;
  padding: 0% 10%; */
  
}


body button {
  background-color: red;
  color: #FFFFFF;
  font-size: 2em; /* change this to change size */
  height: 3em;
  margin: 20px auto;
  padding: 0;
  border:0;
  position: relative;
  text-align: center;
  text-indent: 0.1em;
  transition: all 150ms ease-out;
  width: 7em;
  margin-top: 10px;
  margin-left: 800px;
  font-weight: bolder;
  font-family: Shadows Into Light Two;
  
}

button:hover{
  background: yellow;
}


#game-board {
    float: left;
    padding: 20px 0px;

}

.arrows{
  margin-left: 800px;
  margin-top:20px;
  height: 70px;
  width: 110px;

}

p{
  font-size: 18px;
  font-family: Shadows Into Light Two;
  color: white;
  margin-left: 800px;
  font-weight: bold;
}


.ballon{
  height: 130px;
  width: 110px;
  margin-left: 800px;

}

.pennywise{
  height: 100px;
  width: 110px;
  margin-left: 800px;

}